<!-- Footer start from PageFooter.j2 -->

    <div id="footer"><p>
      <div id="versioninfo">
          V{{version}}<br/>
          {{versiondate}}
      </div>
    </div>
<!-- Footer end from PageFooter.j2 -->
